@font-face {
    font-family: "SF Mono Regular";
    font-style: normal;
    font-weight: normal;
    src: local("SF Mono Regular"),
        url("/public/fonts/SFMonoRegular.woff") format("woff");
}

:root {
    --default-text-color: rgb(167, 167, 167);
    --main-color: rgb(1, 4, 9);
    --accent-green: rgb(35, 134, 54);
    --accent-blue: rgb(88, 166, 255);
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    color: lightgray;
    background-color: rgb(13, 17, 23);
}

img {
    max-width: 100%;
}

input {
    color: white;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.container {
    width: 95%;
    max-width: 2000px;
}

.active-btn {
    color: var(--accent-green);
    border: 1px solid var(--accent-green);
    background-color: transparent;
}

.inactive-btn {
    color: var(--default-text-color);
    border: 1px solid var(--default-text-color);
    background-color: transparent;
    pointer-events: none;
}

.btn {
    cursor: pointer;
    border-radius: 0.5em;
    padding: 0.75em 1.5em;
    font-weight: 500;
}

.vertical-center {
    display: flex;
    align-items: center;
    gap: 0.25em;
}

.border-divider {
    padding-bottom: 1em;
    border-bottom: 1px solid rgb(29, 34, 41);
}

.secondary-text {
    color: var(--default-text-color);
}

.hide {
    display: none;
    visibility: hidden;
}

.hidden {
    visibility: hidden;
}

.header {
    background-color: rgb(22, 27, 34);
    color: white;
    padding: 1em 0;
}

.header-container {
    justify-content: space-between;
    margin: 0 auto;
}

.header-nav {
    list-style: none;
    gap: 0.5em;
    margin-left: 0.5em;
}

.header-link {
    color: lightgray;
    text-decoration: none;
    font-weight: 500;
}

.relative {
    position: relative;
}

.dropdown {
    position: absolute;
    border-radius: 0.5em;
    margin-top: 0.5em;
    box-shadow: 0 0 10px black;
    list-style: none;
    z-index: 100;
}

.header-dropdown {
    border: 1px solid rgb(29, 34, 41);
    background-color: rgb(22, 27, 34);
    padding: 0.5em 0;
    width: 180px;
    right: 0;
}

.general-dropdown {
    border: 1px solid rgb(139, 148, 158);
    background-color: rgb(22, 27, 34);
    min-width: 130px;
    padding: 0.25em 0;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: lightgray;
}

.blue-hover:hover {
    background-color: #2f56d6;
}

.view-repo-dropdown {
    background-color: rgb(22, 27, 34);
    border: 1px solid rgb(48, 54, 61);
    min-width: 200px;
    right: 0;
}

.view-repo-dropdown-item {
    padding: 0.25em;
    cursor: pointer;
}

.view-repo-dropdown-item:hover {
    background-color: rgb(38, 47, 58);
}

.dropdown-btn {
    background-color: transparent;
    color: var(--default-text-color);
    border: none;
    cursor: pointer;
}

.signup-page {
    background: url("./img/bg1.gif") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    color: var(--default-text-color);
}

.signup-header-content {
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    color: var(--default-text-color);
    font-weight: 450;
}

.signin-link {
    color: rgb(211, 211, 211);
}

.signup-content-container {
    font-weight: 450;
    font-family: "SF Mono Regular", sans-serif;
    background-color: rgb(20, 42, 75);
    width: 35%;
    margin: 0 auto;
    padding: 1em;
    border: 1px solid rgb(29, 59, 105);
    border-radius: 0.5em;
}

.signup-form {
    gap: 10px;
}

.signup-input {
    font-family: "SF Mono Regular", sans-serif;
    padding: 0.25em;
    background-color: rgb(23, 46, 82);
    border: none;
}

.invalid-input {
    border: 1px solid red;
}

.signup-accent-text {
    color: rgb(28, 224, 224);
}

.input-container {
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

.input {
    width: 100%;
}

.signin-page {
    padding: 2em;
    background-color: var(--main-color);
    color: rgb(211, 211, 211);
    height: 100vh;
}

.title {
    margin: 0;
    font-size: 1.75rem;
    font-weight: 300;
}

.signin-page-container {
    border: 1px solid rgb(41, 50, 63);
    border-radius: 0.5em;
    width: clamp(275px, 20%, 350px);
    margin: 0 auto;
}

.signin-form {
    padding: 1em;
    background-color: rgb(22, 27, 34);
}

.signin-input {
    background-color: var(--main-color);
    border: 1px solid rgb(41, 50, 63);
    border-radius: 0.25em;
    padding: 0.25em;
    width: 100%;
}

.signin-btn {
    background-color: var(--accent-green);
    color: lightgray;
    border: none;
    border-radius: 0.25em;
    width: 100%;
}

.create-account-container {
    padding: 1em 0;
    text-align: center;
}

.blue-accent-text {
    color: var(--accent-blue);
    text-decoration: none;
}

.external-links > a,
.signin-page-label > a,
.create-account-container > a {
    color: #438eda;
    font-size: 0.85rem;
    text-decoration: none;
}

.external-links {
    gap: 0.5em;
}

.home-page {
    background-color: var(--main-color);
}

.home-page-section {
    padding: 2em;
}

.home-repo-card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1em;
    border-radius: 0.5em;
    background-color: rgb(13, 17, 23);
    border: 1px solid rgb(48, 54, 61);
}

.home-repo-card-link {
    text-decoration: none;
    color: rgb(201, 209, 217);
    font-weight: 500;
}

.home-misc-text {
    padding: 0.5em;
    background-color: rgb(13, 17, 23);
    border: 1px solid rgb(33, 38, 45);
    border-radius: 0.25em;
    color: var(--default-text-color);
}

.sidebar-container {
    position: sticky;
    top: 0;
    background-color: rgb(13, 17, 23);
    color: lightgray;
    height: 100vh;
    width: clamp(250px, 20%, 300px);
    padding: 1em;
    border-right: 1px solid rgb(29, 34, 41);
}

.sidebar-repo-list {
    list-style: none;
}

.repo-item {
    text-decoration: none;
    color: rgb(167, 167, 167);
}

.repo-item:hover,
.repo-list-link:hover {
    text-decoration: underline;
}

.two-column {
    display: grid;
    grid-template-columns: 65% 20%;
    grid-template-rows: auto 1fr;
    gap: 1em;
    width: 100%;
}

.green-action-btn {
    background-color: var(--accent-green);
    color: white;
    border: none;
}

.green-action-btn:hover {
    background-color: rgb(56, 167, 71);
}

.secondary-gray-btn {
    background-color: rgb(33, 38, 45);
    color: lightgray;
    border: 1px solid rgb(54, 59, 66);
}

.create-repo-form {
    width: 60%;
    margin: 0 auto;
    align-items: flex-start;
    gap: 15px;
}

.create-repo-input > p {
    margin: 0;
}

.repo-info-container {
    list-style: none;
    width: 100%;
}

#repo-description {
    width: 100%;
}

.create-repo-input > textarea,
.form-group > input,
.form-group > textarea,
.search-bar {
    border: 1px solid rgb(29, 34, 41);
    border-radius: 0.2em;
    background-color: rgb(1, 4, 9);
    padding: 0.5em;
    resize: none;
}

.page {
    margin: 2em auto;
}

.view-repo-content-container {
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
    margin: 0 auto;
    max-width: 1500px;
}

.left-repo-column {
    width: 65%;
}

.right-repo-column {
    width: 20%;
}

.view-repo-content {
    border: 1px solid rgb(29, 34, 41);
    border-radius: 0.5em;
    /* width: 70%; */
}

.view-repo-folder,
.view-repo-item {
    justify-content: space-between;
    padding: 0.5em;
    border-bottom: 1px solid rgb(29, 34, 41);
}

.repo-list-page,
.profile-page,
.view-star-page {
    display: grid;
    grid-template-columns: 15% 50%;
    justify-content: center;
    gap: 2em;
}

.repo-list-container {
    justify-content: space-between;
}

.repo-list-link {
    color: var(--accent-blue);
    font-weight: bold;
    font-size: 1.125rem;
    text-decoration: none;
}

.profile-information > p {
    margin: 0;
}

.edit-profile-form {
    list-style: none;
    gap: 0.5em;
}

.edit-profile-btn {
    width: 100%;
    background-color: rgb(33, 38, 45);
    border: 1px solid rgb(54, 59, 66);
    color: white;
    font-weight: 550;
}

.edit-profile-input > input,
.edit-profile-input > textarea {
    background-color: transparent;
    padding: 0.25em;
    border: 1px solid rgb(48, 54, 61);
    border-radius: 0.25em;
    width: 100%;
    color: white;
    resize: vertical;
}

.view-six-repo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.5em;
    margin-top: 2em;
}

.profile-repo-card {
    padding: 0.5em;
    border: 1px solid rgb(48, 54, 61);
    border-radius: 0.25em;
}

.contributions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(48, 54, 61);
    border-radius: 0.25em;
    padding: 0.25em;
}

.secondary-nav {
    border-bottom: 1px solid rgb(48, 54, 61);
    margin-bottom: 1em;
    padding-bottom: 0.75em;
}

.secondary-nav > a {
    color: lightgray;
    text-decoration: none;
    padding: 0.25em;
}

.secondary-nav > a:hover {
    background-color: rgb(48, 54, 63);
}

.upload-file-container {
    border: 1px solid rgb(48, 54, 61);
    margin: 0 auto;
}

.profile-settings-sidebar {
    width: 20%;
}

.profile-settings-content {
    display: grid;
    grid-template-columns: 60% auto;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.divider {
    display: flex;
    gap: 0.25em;
}

.horizontal-form-group {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.profile-settings-page {
    margin: 0 auto;
    padding: 1em;
    max-width: 1300px;
    gap: 3em;
}

.account-settings-sidebar > .border-divider > a {
    color: rgb(201, 209, 217);
    text-decoration: none;
}

.account-settings-sidebar > .border-divider > a:hover {
    background-color: rgb(34, 40, 46);
}

.star-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 1px solid rgb(48, 54, 61);
    border-radius: 0.25em;
    min-height: 250px;
}
