@font-face {
    font-family: "SF Mono Regular";
    font-style: normal;
    font-weight: normal;
    src: local("SF Mono Regular"),
        url("/public/fonts/SFMonoRegular.woff") format("woff");
}

:root {
    --default-text-color: rgb(167, 167, 167);
    --main-color: rgb(1, 4, 9);
    --accent-green: rgb(35, 134, 5);
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    color: lightgray;
    background-color: rgb(13, 17, 23);
}

img {
    max-width: 100%;
}

input {
    color: white;
}

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.container {
    width: 95%;
    max-width: 2000px;
}

.active-btn {
    color: var(--accent-green);
    border: 1px solid var(--accent-green);
    background-color: transparent;
}

.inactive-btn {
    color: var(--default-text-color);
    border: 1px solid var(--default-text-color);
    background-color: transparent;
    pointer-events: none;
}

.btn {
    cursor: pointer;
    border-radius: 0.5em;
    padding: 0.75em 1.5em;
    font-weight: 500;
}

.border-divider {
    padding-bottom: 1em;
    border-bottom: 1px solid rgb(29, 34, 41);
}

.secondary-text {
    font-size: smaller;
    color: var(--default-text-color);
}

.hide {
    display: none;
    visibility: hidden;
}

.header {
    background-color: rgb(22, 27, 34);
    color: white;
    padding: 1em 0;
}

.header-container {
    justify-content: space-between;
    margin: 0 auto;
}

.header-nav {
    list-style: none;
    gap: 0.5em;
    margin-left: 0.5em;
}

.header-link {
    color: lightgray;
    text-decoration: none;
    font-weight: 500;
}

.dropdown {
    position: absolute;
    border: 1px solid rgb(29, 34, 41);
    background-color: rgb(22, 27, 34);
    list-style: none;
    padding: 0.5em;
}

.dropdown-item {
    display: block;
    color: var(--default-text-color);
    text-decoration: none;
    padding: 0.25em 0;
}

.dropdown-btn {
    background-color: transparent;
    color: var(--default-text-color);
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

.signup-page {
    background: url("/public/img/bg1.gif") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    color: var(--default-text-color);
}

.signup-header-content {
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    color: var(--default-text-color);
    font-weight: 450;
}

.signin-link {
    color: rgb(211, 211, 211);
}

.signup-content-container {
    font-weight: 450;
    font-family: "SF Mono Regular", sans-serif;
    background-color: rgb(20, 42, 75);
    width: 35%;
    margin: 0 auto;
    padding: 1em;
    border: 1px solid rgb(29, 59, 105);
    border-radius: 0.5em;
}

.signup-form {
    gap: 10px;
}

.signup-input {
    font-family: "SF Mono Regular", sans-serif;
    padding: 0.25em;
    background-color: rgb(23, 46, 82);
    border: none;
}

.invalid-input {
    border: 1px solid red;
}

.signup-accent-text {
    color: rgb(28, 224, 224);
}

.input-container {
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

.input {
    width: 100%;
}

.signin-page {
    padding: 2em;
    background-color: var(--main-color);
    color: rgb(211, 211, 211);
    /* height: 100vh; */
}

.title {
    margin: 0;
    font-size: 1.75rem;
    font-weight: 300;
}

.signin-page-container {
    border: 1px solid rgb(41, 50, 63);
    border-radius: 0.5em;
    width: clamp(275px, 20%, 350px);
    margin: 0 auto;
}

.signin-form {
    padding: 1em;
    background-color: rgb(22, 27, 34);
}

.signin-input {
    background-color: var(--main-color);
    border: 1px solid rgb(41, 50, 63);
    border-radius: 0.25em;
    padding: 0.25em;
    width: 100%;
}

.signin-btn {
    background-color: var(--accent-green);
    color: lightgray;
    border: none;
    border-radius: 0.25em;
    width: 100%;
}

.create-account-container {
    padding: 1em 0;
    text-align: center;
}

.external-links > a,
.signin-page-label > a,
.create-account-container > a {
    color: #438eda;
    font-size: 0.85rem;
    text-decoration: none;
}

.external-links {
    gap: 0.5em;
}

.home-page {
    background-color: var(--main-color);
    /* height: 100%; */
}

.sidebar-container {
    position: sticky;
    background-color: rgb(13, 17, 23);
    color: lightgray;
    height: calc(100vh - 70px);
    width: clamp(250px, 20%, 300px);
    width: 20%;
    padding: 1em;
    border-right: 1px solid rgb(29, 34, 41);
}

.sidebar-repo-list {
    list-style: none;
}

.repo-item {
    text-decoration: none;
    color: rgb(167, 167, 167);
}

.repo-item:hover,
.dropdown-item:hover,
.profile-repo-link:hover {
    text-decoration: underline;
}

.home-page-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
}

.create-repo-btn {
    background-color: var(--accent-green);
    color: white;
    border: none;
}

.create-repo-form {
    width: 60%;
    margin: 0 auto;
    align-items: flex-start;
    gap: 15px;
}

.create-repo-input > p {
    margin: 0;
}

.repo-info-container {
    list-style: none;
    width: 100%;
}

#repo-description {
    width: 100%;
}

.create-repo-input > input,
.create-repo-input > textarea {
    border: 1px solid rgb(29, 34, 41);
    background-color: rgb(1, 4, 9);
    padding: 0.5em;
    resize: none;
}

.page {
    margin: 0 auto;
}

.view-repo-content-container {
    border: 1px solid rgb(29, 34, 41);
    border-radius: 0.5em;
}

.view-repo-folder,
.view-repo-item {
    justify-content: space-between;
    padding: 0.5em;
    border-bottom: 1px solid rgb(29, 34, 41);
}

.profile-page {
    display: grid;
    grid-template-columns: 30% 50%;
    justify-content: center;
}

.profile-repo-container {
    justify-content: space-between;
}

.profile-repo-link {
    color: rgb(88, 166, 255);
    font-weight: bold;
    font-size: 1.125rem;
    text-decoration: none;
}
